[Desktop Entry]
Encoding=UTF-8
Exec=flatpak-init-notify
Name=Notify user flatpak-init
Comment=Inform user if flatpak-init is still running upon user session start
Terminal=false
OnlyShowIn=GNOME;
Type=Application
StartupNotify=false

